/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #282c34;
  color: white;
}

.nav-head {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-content {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: white;
  text-decoration: none
}

.container {
  display: flex;
  gap: 1rem;
  padding: 10px;
  flex-wrap: wrap
}

/* card */

.card {
  border: 1px solid #444;
  border-radius: 8px;
  padding: 1.5rem;
  background: #333;
  color: #fff;
  width: 220px
}

.card .item {
  margin: 0.25rem 0;
}

/* counter */
.counter {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: #333;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.10);
  margin: 1rem auto;
  max-width: 220px;
  justify-content: center
}

.btn-increment {
  font-size: 1.5rem;
  color: #fff;
  background: #1976d2;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.counter .number {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  width: 2ch;
  text-align: center;
}

.btn-decrement {
  font-size: 1.5rem;
  color: #fff;
  background: #d32f2f;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}